@model lapshop.Domains.VwItem
<div class="img-wrapper">
    <div class="front">
        <a asp-controller="Items" asp-action="ItemDetails" asp-route-id="@Model.ItemId">
            <img width="1000px" height="1000px" src="~/Uploads/Items/@Model.ImageName"
                 class="img-fluid blur-up lazyload bg-img" alt="@Model.ItemName">
        </a>
    </div>
    <div class="cart-info cart-wrap">
        <a asp-controller="Items" asp-action="ItemDetails" asp-route-id="@Model.ItemId"
           title="Quick View" tabindex="0">
            <i class="ti-search" aria-hidden="true"></i>
        </a>
    </div>
    <a href="javascript:void(0)" onclick="AddToCartAjax(@Model.ItemId)" class="add-button">
        Add to Cart
    </a>
</div>
<div class="product-detail">
    <div class="rating">
        <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
    </div>
    <a asp-controller="Items" asp-action="ItemDetails" asp-route-id="@Model.ItemId">
        <h6>@Model.ItemName</h6>
    </a>
    <h4>$@Model.SalesPrice</h4>
</div>
